.bod {
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    font-family: "Times New Roman", Times, serif;
}
.city{
    width: 80%;
    max-width: 150px;
}
.search{
    display: flex;
    justify-content: end;
}